$c_primary: #3b66f5;
$c_primary_light: #769cff;
$c_primary_lighter: #c2d0ff;
$c_primary_dk: #4c5fe2;
$c_primary_dk_light: rgba(76, 95, 226, 0.8);
$c_primary_i: rgba(76, 95, 226, 0.1);
$c_primary_i_light: rgba(76, 95, 226, 0.06);
$c_trans_primary: #bfc9ff;
$c_trans_primary_light: #d0deff;
$c_trans_primary_lighter: #eeeff9;
$c_secondary: #eb1551;
$c_secondary_light: #fa648c;
$c_secondary_lighter: #ffc2d2;
$c_tertiary: #ff8d29;
$c_tertiary_light: #ffb370;
$c_tertiary_lighter: #ffddc2;
$c_quaternary: #39cca0;
$c_quaternary_light: #63e0b7;
$c_quaternary_lighter: #baf5e1;
$c_negative: #eb1551;
$c_negative_light: #fa648c;
$c_negative_lighter: #ffc2d2;
$c_border: #d7d8e0;
$c_border_dark: hsla(0, 0%, 100%, 0.08);
$c_border_light: #e7e7e7;
$c_s: #83848f;
$c_xs: rgba(18, 18, 23, 0.24);
$c_m: rgba(18, 18, 23, 0.6);
$c_l: rgba(18, 18, 23, 0.9);
$c_xs_d: hsla(0, 0%, 100%, 0.24);
$c_l_d: hsla(0, 0%, 100%, 0.9);
$c_m_d: hsla(0, 0%, 100%, 0.6);
$bc_hover: rgba(18, 18, 23, 0.2);
$bc_hover_light: rgba(208, 222, 255, 0.3);
$bc_surface_lighter: #eeeff9;
$bc_mask: rgba(18, 18, 23, 0.48);
$bc_overlay: rgba(18, 18, 23, 0.8);
$bc_disabled: rgba(18, 18, 23, 0.12);
$bc_primary_dk: rgba(59, 102, 245, 0.24);
$bc_primary: rgba(59, 102, 245, 0.12);
$bc_primary_light: #f5f5fa;
$bc_primary_lighter: #f6f7fc;
$bc_primary_i: #dbdff9;
$bc_primary_i_light: rgba(24, 62, 208, 0.13);
$bc_secondary: rgba(235, 21, 81, 0.12);
$bc_secondary_light: rgba(255, 194, 210, 0.3);
$bc_secondary_lighter: rgba(255, 194, 210, 0.16);
$bc_quaternary_lighter: #ffecca;
$bc_primary_dark: #0c28a5;
$bc_primary_darker: #212531;
$bc_primary_darkest: #25253d;
$bc_gray: #d5d7e9;
$bc_gray_light: #f5f6fc;
$bc_gray_light_hover: #e3e6f9;
$bc_gray_hover: #9697a7;
$bc_gray_i: #dadbf4;
$bc_ph: #f5f6fb;
$bc_ph_light: #f2f2f2;
$c_dark: rgba(18, 18, 23, 0.9);
$c_dark_bts: rgba(0, 0, 0, 0.53);
$c_dark_secondary: hsla(0, 0%, 100%, 0.9);
$bc_dark_primary: #1f2129;
$bc_dark_secondary: linear-gradient(90deg, #557ffc, #a0bdff);
$bc_dark: #3e3f4d;
$bc_darker: #17171d;
$bc_gradient_bt_primary: linear-gradient(90deg, #3b66f5, #163bcd);
$bc_gradient_bt_warning: linear-gradient(90deg, #ff8d29, #e34c01);
$bc_gradient_bt_warning_1: linear-gradient(90deg, #ff8d29, #ffbc69);
$bc_gradient_bt_warning_2: linear-gradient(90deg, #ffc152, #ff8d29);
$bc_gradient_bt_error: linear-gradient(90deg, #eb1551, #c0003b);
$bc_gradient_primary_1: linear-gradient(-90deg, #3b66f5, #6da0fb);
$bc_gradient_primary_2: linear-gradient(61.76deg, #3b66f5 100%, #6da0fb 0);
