@use "styles/common" as c;

.container {
    padding: 16px 16px;
    @include c.flexCenter(row);
    transition: all 0.3s linear;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.05);
    transition: all 0.2s ease-in-out;


    p {
        font-size: 14px;
        color: c.$c_primary;
    }

    &:hover {
        transform: translateY(-10%);
        box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.05);

        p {
            text-decoration: underline;
        }
    }
}